/* CSS Document */

#usedmachinery table{
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #666666;
	text-align: left;
}

#usedmachinery .tb_paginate{
border-width: 1px;
border-style: solid;
}

#usedmachinery .paginate_1{
	background: #EEEEEE;
}                                 

#usedmachinery .paginate_0, #usedmachinery .paginate_1 {
	border-width: 1px;
	border-style: solid;
}                     

#usedmachinery .paginate_0 a, #usedmachinery .paginate_1 a {
	text-decoration: none;
	color: #333333;
	font-size: 80%;
}

#usedmachinery .paginate_0 img, #usedmachinery .paginate_1 img {
	border: none;
}
.highlight-box {
	float: right; 
	text-align: center;
	border-radius: 15px;
	/* border: 1px #CCCCCC solid; */
	background: #DEDEDE;
}
.highlight-box img {
	padding: 5px;
	border-radius: 15px;
}
.titleright h2{
	text-align: right;
}
.rt-grid-3a {
	width: 250px;
}
.gf-menu .item {
    padding: 0 8px;
    }
.item-page h3 {
	color: #7E7E7E;
	font-family: 'SourceSansProRegular',Helvetica,Arial,sans-serif;
	font-size: 1.1em;
	font-weight: normal;
}


/* Used Products CSS added August 2014 */
.SaleItems {
	float: right ;
	max-width: 70%;
/*	width: 70%; */
}
.SaleItem {
	margin-top: -1px 2px 2px 2px;
	padding: 0px;
	clear: both ;
	margin
}
.Specifications {
	float: left;
    margin: 5px;
	padding: 5px;
	max-width: 55%;
	color: #7e7e7e;
	text-transform: uppercase;
/*	width: 55%; */}
.SaleItemHeader {
	margin: 3px;
    padding-bottom: 8px;
    padding-left: 17px;
    padding-right: 20px;
    padding-top: 14px;
	position: relative;
	background: #1E772B;
	border-radius: 20px;
	color: #ffffff;
	text-transform: uppercase;
}
.SpecHeading {
color: green;
text-transform: uppercase;
   font-size: 130%;
}
.SaleItemHeader li {
display: inline-block;
}
li.PriceTitle  {
float:right;
}
.PriceTitle input {
margin-top: -5px;
}
.MainTitle,  .PriceTitle {
    font-size: 150%;
	font-weight: bold;
}
.audgst {
	font-size: 53%;
}
.SaleItemHeader h3 {
	position: absolute;
	right: 5px;
	width: 30%;
	text-align: right;
	line-height: 35px;
	vertical-align: center;
}
.SaleItem p {
	padding: 1px 0 3px 0;
	margin: 0;

}
.firstImage {
	width: 245px;
	float: none;
	border-radius: 20px;
}
.SaleThumbs {
	clear: both;
/*	width: 95%;  */
}
.thumb {
	float: left; /* must be floated for same cross browser position of larger image */
	position: relative;
	margin: 3px;
}
.thumb img { 
	border: 1px solid $DEDEDE;
	vertical-align: bottom;
	height: 70px ;
	border-radius: 12px;
}
.thumb:hover {
	border: 0; /* IE6 needs this to show large image */
	z-index: 1;
}
.thumb span { 
	position: absolute;
	visibility: hidden;
}
.thumb:hover span { 
	visibility: visible;
	top: -200px; 
	left: 25px; 
}
.thumb:hover span img { 
	height: 245px;	
}
#ProductMenu {
	float: left;
	max-width: 270px;
	background: #dddddd;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 15px;
	margin-top: 0;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 10px;
	padding-top: 10px;
	border-radius: 20px;
}
#ProductMenu h3 {
	line-height: unset;
}

#ProductMenu ul {
	list-style-type: none;	
}
#ProductMenu label {
	font-size: 80%;	
}
#ProductMenu input[type="submit"], .EnqButton  {
	border: 1px solid #C6C6C6;
	background-color: #FBD701;
	border-radius: 5px;	
	padding: 2px;
	color: #777777;
	width: 110px;
/*	text-shadow: 0 1px 0 #3c61ab;*/
}
.EnqButton {
margin-top: 2px;
}
#ProductMenu input[type="submit"]:hover {
/*	border: none;
	background-color: transparent;	
	text-decoration: underline ; */
}
.UsedProductManagement {
	width: 100%;
	position: relative;
}
.Pagination {
	background-color: transparent;
	color: ButtonText; 
	border: 1px solid ButtonFace;
	border-radius: 4px;
}
.PaginationChecked {
	background-color: ButtonFace; 
	color: ButtonText; 
	border: 1px solid ButtonFace;
	border-radius: 4px;
}
div#StartFooter {
	width: 100%;
}
.searchbutton {
	position:relative;
	padding 0;
	margin: 0;
}
